name: PHP CI

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches:
      -feature/*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist

    - name: Execute tests via PHPUnit
      run: vendor/bin/phpunit
